.product-card{
    display: flex;
    flex-direction: column;
    width:200px;
    height:200px;
    border:1px solid #000;
    margin:5px;
    text-align: center;
}

.product-desc{
    font-size: 10px;
}

.product-name
{
    text-align: center;
    font-weight: 500;
}

.product-img img{
    margin-top:10px;
    width:100px;
    height:100px;
}

.product-cost  {
    font-weight: 700;
    .only{
        color:#F00000;
    }
}