@page
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h2 class="display-4">Welcome to the Admin Page. Please click on a link below.</h2>
    <ul id="linkList">
        <li class="link">Product Management</li>
        <li class="link">Customer Management</li>
        <li class="link">Order Management</li>

    </ul>
</div>
